@import "_variables";
// @charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

h1 {
  color: $brunswick-green;
  font-size: 2rem;
  font-weight: 900;
}

h2, h3, h4, p {
  color: $brunswick-green;
}

p {
  color: $brunswick-green;
  font-size: 1rem;
}
