.about-header_img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

.about-rooms {
  display: flex;
  flex-direction: column;
}

.room-type {
  width: 50%;
  margin: 0 0.1rem;
}

.about-rooms_img {
  width: 100%;
  height: 50%;
  min-width: 15rem;
}

.book_important-documents {
  a {
    color: $brunswick-green;
  }
}
@media (min-width: 600px) {
  .about-rooms {
    display: flex;
    flex-direction: row;

    section {
      margin: 0.2rem;
    }
  }
}
