// @use 'src/styles/variables';

#footer {
  background-color: $chicago;
  color: $baby-powder;
  height: 55rem;

  .footer-menu {
    display: flex;
    flex-direction: column;

    div {
      margin-left: 1.5rem;
      margin-right: 1.5rem;
    }
  }

  .footer_menu-item {
    a {
      text-decoration: none;
      color: $baby-powder;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
  }

  .footer-signup {
    margin: 2rem auto;
    width: 80%;

    form {
      display: flex;
      flex-direction: column;
      align-items: center;

      div {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .input-email {
        margin: 1rem 0;
        width: 80%;
        height: 2rem;
        background-color: $baby-powder;
      }
    }
  }

  ul {
    list-style-type: none;
    padding-left: 0;

    li {
      text-align: left;
      padding-left: 0;
      padding-bottom: 0.4rem;
    }
  }

  h4 {
    color: $baby-powder;
    border-bottom: 0.1rem solid $baby-powder;
    padding-bottom: 0.5rem;
    margin-bottom: 0.1rem;
  }

  .footer_charity {
    display: flex;
    justify-content: center;
    color: $brunswick-green;

    small {
      font-size: 1.3rem;
    }
  }

  .input-submit {
    padding: 0.5rem 2rem;
    background-color: $baby-powder;
    color: $brunswick-green;
    font-weight: 900;
    border: 2px solid $brunswick-green;

    &:focus,
    &:hover {
      background-color: $brunswick-green;
      color: $baby-powder;
      border: 2px solid $baby-powder;
    }
  }
}

@media (min-width: 600px) {
  #footer {
    height: 15rem;

    div {
      margin-left: 3rem;
      margin-right: auto;
    }

    .footer-signup {
      margin: auto;
      padding-left: 4rem;
      width: 40%;

      form {
        .input-email {
          width: 100%;
        }
      }
    }

    .footer-menu {
      flex-direction: row;
      width: 85%;

      .footer_menu-item {
        width: 30%;
      }
    }
  }
}
