@import "_variables";
// @charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.navbar-container {
  // makes nav bar sitcky
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar {
  height: 16vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: $baby-powder;

  a {
    text-decoration: none;
    color: $chicago;
    font-weight: 700;
    font-family: "PT Sans", sans-serif;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.nav-border {
  background: linear-gradient(
    to right,
    #bf953f,
    #fcf6ba,
    #b38728,
    #fbf5b7,
    #aa771c
  );
  height: 0.1rem;
  width: 100%;
}

.navbar-logo {
  margin-top: 1rem;
}

.navbar-logo-image {
  height: 6rem;
}

.navbar-menu-container {
  width: 100%;
}

.nav-menu-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0 1rem 1rem 1rem;
  font-weight: 900;
  list-style: none;

  li {
    display: flex;
    align-items: center;
  }
}

.navitem-book {
  background-color: $brunswick-green;
  height: 3rem;
  padding: 1rem 2rem 1rem 2rem;
  border: 0.2rem solid $brunswick-green;
  border-radius: 10px;
  display: flex;
  align-items: center;

  .navitem {
    color: $white;
  }

  &:hover,
  &:focus {
    background-color: transparent;

    .navitem {
      color: $brunswick-green;
    }
  }
}

.navitem {
  &:hover,
  &:focus {
    list-style: underline;
  }
}
//////////////////////MEDIA Query/////////////////////////////

@media (min-width: 850px) {
  .navbar {
    flex-direction: row;
    height: 12vh;
  }

  .navbar-logo {
    margin: 2rem;
  }

  .navbar-logo-image {
    height: 7rem;
  }

  .navbar-menu-container {
    width: 40%;
  }

  .nav-menu-options {
    margin-bottom: 0;
  }
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}
