// @import 'variables';
@import "_text";

@import "nav";
@import "home";
@import "footer";
@import "book";

body {
  font-family: "Roboto", sans-serif;
  color: $chicago;
  margin: 0;
  overflow-x: hidden;
  background-color: $baby-powder;
}

p,
ul,
table {
  font-size: 1.6rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

.content-container {
  width: 80vw;
  margin-left: 10vw;
  margin-right: auto;
}

table {
  width: 100%;
  border: 0.1rem solid $brunswick-green;
  border-spacing: unset;
  margin: 2rem 0;
}

.table-header {
  background-color: $brunswick-green;
  color: $white;
  font-size: 1.2rem;
  font-weight: 900;
  padding: 1.5rem;
}

th {
  font-weight: 900;
  padding: 0.4rem;
}

td {
  text-align: center;
  padding: 0.4rem;
}

ul {
  padding-left: 2rem;
}

@media (min-width: 600px) {
  .content-container {
    width: 60vw;
    margin-left: 20vw;
  }
}
